body {
    background-image: url("../img/4_Background.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .grid-container {
    color: white;
  }